<!DOCTYPE html>
<html>

<head>

    <title>About NutriScan</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<nav>

    <h1>NutriScan AI</h1>

    <div>
        <a href="/">Home</a>
        <a href="/scanner">Scanner</a>
    </div>

</nav>

<div class="container">

    <div class="card">

        <h1>About NutriScan</h1>

        <p>
            NutriScan AI is a smart food analysis system
            that uses OCR, Machine Learning, and
            Nutrition APIs to identify whether
            a food product is healthy or unhealthy.
        </p>

    </div>

</div>

</body>
</html>