<!DOCTYPE html>
<html>

<head>

    <title>NutriScan AI</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<nav>

    <h1>NutriScan AI</h1>

    <div>
        <a href="/">Home</a>
        <a href="/scanner">Scanner</a>
        <a href="/about">About</a>
    </div>

</nav>

<div class="container">

    <div class="card">

        <h1>NutriScan AI</h1>

        <p>
            Smart AI Health Analysis for Food Products
        </p>

        <a href="/scanner">
            <button>
                Start Scanning
            </button>
        </a>

    </div>

</div>

</body>
</html>